@import "index";
// App component styles

.App {
  width: 100%;
  height: 100vh;
  background-color: $background-color-beige;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ToDoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  width: 50%;
  height: 90%;
  padding: 10px 20px;
  background-color: $theme-color-tan;
  box-shadow: $text-color-black 7px 7px 10px 0px;

  .heading-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;
    height: 15%;

    .main-heading,
    .date-subheading {
      color: $text-color-black;
    }

    .date-subheading {
      font-size: 22px;
      font-family: "Poppins ExtraLight";
    }
  }

  // ToDoForm

  .ToDoForm {
    width: 95%;
    height: 50px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    position: relative;
    overflow-y: visible;

    .to-do-input-field {
      width: 100%;
      height: 50px;
      display: grid;
      grid-template-columns: 7fr auto auto;
      gap: 5px;

      input[type="text"] {
        border: none;
        outline: none;
        padding: 0 10px;
        background-color: $theme-color-green;

        &::placeholder,
        &::-webkit-input-placeholder,
        &::-moz-placeholder {
          color: $text-color-white;
        }

        &:focus {
          border: 1px solid $theme-color-blue;
        }
      }
    }

    .due-date-selector-container {
      align-self: flex-end;
      margin-top: 10px;

      width: auto;
      height: 50px;

      .due-date-selector {
        font-size: 16px;
        padding: 10px 20px;

        border: none;
        border-radius: 10px;
        background-color: $dark-grey;

        transition: 0.5s;
      }
    }
  }

  .ToDoList {
    width: 95%;
    height: 60%;
    border: 1px solid black;
  }
}
