@import "index";
// App component styles

.App {
  width: 100%;
  height: 100vh;
  background-color: $background-color-beige;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ToDoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 50%;
  height: 90%;
  padding: 10px 30px;
  background-color: $theme-color-tan;
  box-shadow: $text-color-black 7px 7px 10px 0px;

  .heading-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;
    height: 15%;

    .main-heading,
    .date-subheading {
      color: $text-color-black;
    }

    .date-subheading {
      font-size: 22px;
      font-family: "Poppins ExtraLight";
    }
  }

  // ToDoForm

  .ToDoForm {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    position: relative;
    overflow-y: visible;

    .to-do-input-field {
      width: 100%;
      height: 50px;
      display: grid;
      grid-template-columns: 7fr auto auto;
      gap: 5px;

      input[type="text"] {
        border: none;
        outline: none;
        padding: 0 10px;
        background-color: $theme-color-green;

        &::placeholder,
        &::-webkit-input-placeholder,
        &::-moz-placeholder {
          color: $text-color-white;
        }

        &:focus {
          border: 1px solid $theme-color-blue;
        }
      }
    }

    .due-date-selector-container {
      align-self: flex-end;
      margin-top: 10px;

      width: auto;
      height: 50px;

      .due-date-selector {
        font-size: 16px;
        padding: 10px 20px;

        border: none;
        border-radius: 10px;
        background-color: $dark-grey;

        // need to set display to none because it interferes
        // with the edit and delete buttons of the first task in the list.
        &.hidden {
          display: none;
        }
      }
    }
  }

  .ToDoList {
    width: 100%;
    height: 65%;
    margin-top: 20px;

    // border: 1px solid black;

    .Task {
      width: 100%;
      height: 70px;
      margin-bottom: 10px;

      display: grid;
      grid-template-columns: auto 8fr 1fr;
      align-items: center;
      justify-content: flex-start;

      background-color: $theme-color-blue;
      border-radius: 10px;

      .task-checkbox {
        width: 25px;
        height: 25px;
        margin-left: 20px;
      }

      .task-content-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 10px 0px 10px 25px;
        overflow: hidden;

        .task-due-date {
          font-size: 16px;
          font-family: "Poppins ExtraLight";
          color: $text-color-white;
        }
      }

      .delete-task-button-container {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          background-color: transparent;
          padding: 5px 5px;
          font-size: 19px;

          .icon {
            color: $text-color-white;
          }

          &:hover {
            .icon.fa-trash {
              color: $error-red;
            }
          }
        }
      }
    }
  }
}
