@import "index";
// App component styles

.App {
  width: 100%;
  height: 100vh;
  background-color: $background-color-beige;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ToDoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 50%;
  height: 90%;
  padding: 10px 30px;
  background-color: $theme-color-tan;
  box-shadow: $text-color-black 7px 7px 10px 0px;

  .heading-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;
    height: 15%;

    .main-heading,
    .date-subheading {
      color: $text-color-black;
    }

    .date-subheading {
      font-size: 22px;
      font-family: "Poppins ExtraLight";
    }
  }

  // ToDoForm

  .ToDoForm {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    position: relative;
    overflow-y: visible;

    .to-do-input-field {
      width: 100%;
      height: 50px;
      display: grid;
      grid-template-columns: 7fr auto auto;
      gap: 5px;

      input[type="text"] {
        border: none;
        outline: none;
        padding: 0 10px;
        background-color: $theme-color-green;

        &::placeholder,
        &::-webkit-input-placeholder,
        &::-moz-placeholder {
          color: $text-color-white;
        }

        &:focus {
          border: 1px solid $theme-color-blue;
        }
      }
    }

    .due-date-selector-container {
      align-self: flex-end;
      margin-top: 10px;

      width: auto;
      height: 50px;

      .due-date-selector {
        font-size: 16px;
        padding: 10px 20px;

        border: none;
        border-radius: 10px;
        background-color: $dark-grey;

        // need to set display to none because it interferes
        // with the edit and delete buttons of the first task in the list.
        &.hidden {
          display: none;
        }
      }
    }
  }

  .ToDoList {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    margin-top: 20px;

    .list-content {
      width: 100%;
      height: 90%;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 10px;
        margin-left: 10px;
      }

      &::-webkit-scrollbar-track {
        background: $light-grey;
      }

      &::-webkit-scrollbar-thumb {
        background: $gunmetal-grey;
      }

      .Task {
        width: 100%;
        height: 70px;
        margin-bottom: 10px;

        display: grid;
        grid-template-columns: auto 8fr 1fr;
        align-items: center;
        justify-content: flex-start;

        background-color: $theme-color-blue;
        border-radius: 10px;

        .task-checkbox {
          width: 25px;
          height: 25px;
          margin-left: 20px;
        }

        .task-content-container {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          padding: 10px 0px 10px 25px;
          overflow: hidden;

          .task-description {
            width: 100%;
            height: auto;
            background-color: transparent;
            border: none;
            outline: none;
          }

          .task-due-date {
            font-size: 16px;
            font-family: "Poppins ExtraLight";
            color: $text-color-white;
            cursor: default;
          }
        }

        .delete-task-button-container {
          display: flex;
          align-items: center;
          justify-content: center;

          button {
            background-color: transparent;
            padding: 5px 5px;
            font-size: 19px;

            .icon {
              color: $text-color-white;
            }

            &:hover {
              .icon.fa-trash {
                color: $error-red;
              }
            }
          }
        }
      }
    }

    .toggle-list-state-button-container {
      width: 100%;
      height: 10%;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-start;
    }
  }
}

// Responsive Design

@media (max-width: 1300px) {
  .ToDoContainer {
    width: 60%;
  }
}

@media (max-width: 1000px) {
  .ToDoContainer {
    width: 70%;
  }
}

@media (max-width: 800px) {
  .ToDoContainer {
    width: 80%;

    .heading-area {
      height: fit-content;

      .main-heading {
        font-size: 40px;
      }

      .date-subheading {
        font-size: 20px;
      }
    }

    .ToDoForm {
      .to-do-input-field {
        display: flex;
        flex-direction: row;

        input[type="text"] {
          width: 80%;
        }

        .due-date-button {
          width: 10%;
          padding: 10px 10px;
        }

        .submit-to-do-button {
          width: 10%;
          padding: 10px 10px;
        }
      }
    }

    .ToDoList {
      height: 78%;

      .toggle-list-state-button-container {
        height: auto;
        padding: 15px 0px 5px 0px;

        .toggle-list-state-button {
          font-size: 16px;
          padding: 10px 20px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .App {
    .ToDoContainer {
      padding: 5px 20px;

      .heading-area {
        .main-heading {
          font-size: 38px;
        }

        .date-subheading {
          font-size: 19px;
        }
      }

      .ToDoForm {
        .to-do-input-field {
          input[type="text"] {
            font-size: 16px;
          }
        }
      }

      .ToDoList {
        .Task {
          height: 60px;
          grid-template-columns: auto 7fr 1fr;

          .task-checkbox {
            width: 20px;
            height: 20px;
          }

          .task-content-container {
            padding: 5px 0px 5px 15px;
            .task-description {
              font-size: 16px;
            }

            .task-due-date {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .App {
    .ToDoContainer {
      padding: 5px 10px;

      .ToDoForm {
        .to-do-input-field {
          input[type="text"] {
            width: 80%;
          }

          .due-date-button,
          .submit-to-do-button {
            font-size: 16px;
          }
        }
      }

      .ToDoList {
        .Task {
          height: 60px;

          .task-checkbox {
            margin-left: 10px;
          }

          .task-content-container {
            padding: 5px 0px 5px 10px;
          }

          .delete-task-button-container {
            button {
              font-size: 18px;
              padding-right: 10px;
            }
          }
        }

        .toggle-list-state-button-container {
          .toggle-list-state-button {
            font-size: 16px;
            padding: 5px 10px;
          }
        }
      }
    }
  }
}
