// Global styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

// Fonts
// Using mixins to easily apply fonts from the google fonts import.

// Bolder font face, mainly used for headings.
@mixin font-PoppinsMedium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

// Regular font face, mainly used for paragraphs.
@mixin font-PoppinsRegular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

// Light font face.
@mixin font-PoppinsExtraLight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

// Variables
$background-color-beige: #f9efdb;
$theme-color-tan: #ebd9b4;
$theme-color-green: #9dbc98;
$theme-color-blue: #638889;

$text-color-white: #faf9f6;
$text-color-black: #212427;

$dark-grey: #333333;
$gunmetal-grey: #818589;
$light-grey: #d3d3d3;
$error-red: #ffcccc;

body {
  overflow-x: hidden;
}

// prettier-ignore
h1, h2, h3, h4, h5, h6, li, a {
    @include font-PoppinsMedium;
    color: $text-color-white;
  }

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

// prettier-ignore
p, button, input, textarea {
  @include font-PoppinsRegular;
  color: $text-color-white;
  font-size: 18px;
  }

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
  border: none;
  padding: 10px 30px;
  background-color: $theme-color-green;
  transition: 0.5s;

  & .icon {
    color: $theme-color-blue;
  }

  &:hover {
    background-color: $theme-color-blue;
    border: none;
    color: $text-color-white;
  }

  &:hover .icon {
    color: $text-color-white;
  }
}

input[type="checkbox"] {
  cursor: pointer;
}

// hidden utility class, hides the element.
.hidden {
  opacity: 0;
}
