* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, li, a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #faf9f6;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

p, button, input, textarea {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #faf9f6;
  font-size: 18px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
  border: none;
  padding: 10px 30px;
  background-color: #9dbc98;
  transition: 0.5s;
}
button .icon {
  color: #638889;
}
button:hover {
  background-color: #638889;
  border: none;
  color: #faf9f6;
}
button:hover .icon {
  color: #faf9f6;
}

input[type=checkbox] {
  cursor: pointer;
}

.hidden {
  opacity: 0;
}

.App {
  width: 100%;
  height: 100vh;
  background-color: #f9efdb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App .ToDoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  height: 90%;
  padding: 10px 30px;
  background-color: #ebd9b4;
  box-shadow: #212427 7px 7px 10px 0px;
}
.App .ToDoContainer .heading-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 15%;
}
.App .ToDoContainer .heading-area .main-heading,
.App .ToDoContainer .heading-area .date-subheading {
  color: #212427;
}
.App .ToDoContainer .heading-area .date-subheading {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.App .ToDoContainer .ToDoForm {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  position: relative;
  overflow-y: visible;
}
.App .ToDoContainer .ToDoForm .to-do-input-field {
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: 7fr auto auto;
  gap: 5px;
}
.App .ToDoContainer .ToDoForm .to-do-input-field input[type=text] {
  border: none;
  outline: none;
  padding: 0 10px;
  background-color: #9dbc98;
}
.App .ToDoContainer .ToDoForm .to-do-input-field input[type=text]::placeholder, .App .ToDoContainer .ToDoForm .to-do-input-field input[type=text]::-webkit-input-placeholder, .App .ToDoContainer .ToDoForm .to-do-input-field input[type=text]::-moz-placeholder {
  color: #faf9f6;
}
.App .ToDoContainer .ToDoForm .to-do-input-field input[type=text]:focus {
  border: 1px solid #638889;
}
.App .ToDoContainer .ToDoForm .due-date-selector-container {
  align-self: flex-end;
  margin-top: 10px;
  width: auto;
  height: 50px;
}
.App .ToDoContainer .ToDoForm .due-date-selector-container .due-date-selector {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #333333;
}
.App .ToDoContainer .ToDoForm .due-date-selector-container .due-date-selector.hidden {
  display: none;
}
.App .ToDoContainer .ToDoList {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}
.App .ToDoContainer .ToDoList .list-content {
  width: 100%;
  height: 90%;
  overflow-y: auto;
}
.App .ToDoContainer .ToDoList .list-content::-webkit-scrollbar {
  width: 10px;
  margin-left: 10px;
}
.App .ToDoContainer .ToDoList .list-content::-webkit-scrollbar-track {
  background: #d3d3d3;
}
.App .ToDoContainer .ToDoList .list-content::-webkit-scrollbar-thumb {
  background: #818589;
}
.App .ToDoContainer .ToDoList .list-content .Task {
  width: 100%;
  height: 70px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: auto 8fr 1fr;
  align-items: center;
  justify-content: flex-start;
  background-color: #638889;
  border-radius: 10px;
}
.App .ToDoContainer .ToDoList .list-content .Task .task-checkbox {
  width: 25px;
  height: 25px;
  margin-left: 20px;
}
.App .ToDoContainer .ToDoList .list-content .Task .task-content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 0px 10px 25px;
  overflow: hidden;
}
.App .ToDoContainer .ToDoList .list-content .Task .task-content-container .task-description {
  width: 100%;
  height: auto;
  background-color: transparent;
  border: none;
  outline: none;
}
.App .ToDoContainer .ToDoList .list-content .Task .task-content-container .task-due-date {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #faf9f6;
  cursor: default;
}
.App .ToDoContainer .ToDoList .list-content .Task .delete-task-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.App .ToDoContainer .ToDoList .list-content .Task .delete-task-button-container button {
  background-color: transparent;
  padding: 5px 5px;
  font-size: 19px;
}
.App .ToDoContainer .ToDoList .list-content .Task .delete-task-button-container button .icon {
  color: #faf9f6;
}
.App .ToDoContainer .ToDoList .list-content .Task .delete-task-button-container button:hover .icon.fa-trash {
  color: #ffcccc;
}
.App .ToDoContainer .ToDoList .toggle-list-state-button-container {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.App .footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  gap: 6px;
}
.App .footer .github-icon {
  width: 25px;
}
.App .footer .credit-tag {
  color: #212427;
}
.App .footer .credit-tag a {
  color: #9dbc98;
}

@media (max-width: 1300px) {
  .ToDoContainer {
    width: 60%;
  }
}
@media (max-width: 1000px) {
  .ToDoContainer {
    width: 70%;
  }
}
@media (max-width: 800px) {
  .ToDoContainer {
    width: 90%;
  }
  .ToDoContainer .heading-area {
    height: -moz-fit-content;
    height: fit-content;
  }
  .ToDoContainer .heading-area .main-heading {
    font-size: 40px;
  }
  .ToDoContainer .heading-area .date-subheading {
    font-size: 20px;
  }
  .ToDoContainer .ToDoForm .to-do-input-field {
    display: flex;
    flex-direction: row;
  }
  .ToDoContainer .ToDoForm .to-do-input-field input[type=text] {
    width: 80%;
  }
  .ToDoContainer .ToDoForm .to-do-input-field .due-date-button {
    width: 10%;
    padding: 10px 10px;
  }
  .ToDoContainer .ToDoForm .to-do-input-field .submit-to-do-button {
    width: 10%;
    padding: 10px 10px;
  }
  .ToDoContainer .ToDoList {
    height: 78%;
  }
  .ToDoContainer .ToDoList .toggle-list-state-button-container {
    height: auto;
    padding: 15px 0px 5px 0px;
  }
  .ToDoContainer .ToDoList .toggle-list-state-button-container .toggle-list-state-button {
    font-size: 16px;
    padding: 10px 20px;
  }
}
@media (max-width: 600px) {
  .App .ToDoContainer {
    width: 100%;
    height: 100%;
    padding: 5px 20px;
  }
  .App .ToDoContainer .heading-area .main-heading {
    font-size: 38px;
  }
  .App .ToDoContainer .heading-area .date-subheading {
    font-size: 19px;
  }
  .App .ToDoContainer .ToDoForm .to-do-input-field input[type=text] {
    font-size: 16px;
  }
  .App .ToDoContainer .ToDoList .Task {
    height: 60px;
    grid-template-columns: auto 7fr 1fr;
  }
  .App .ToDoContainer .ToDoList .Task .task-checkbox {
    width: 20px;
    height: 20px;
  }
  .App .ToDoContainer .ToDoList .Task .task-content-container {
    padding: 5px 0px 5px 15px;
  }
  .App .ToDoContainer .ToDoList .Task .task-content-container .task-description {
    font-size: 16px;
  }
  .App .ToDoContainer .ToDoList .Task .task-content-container .task-due-date {
    font-size: 15px;
  }
}
@media (max-width: 450px) {
  .App .ToDoContainer {
    padding: 5px 10px;
  }
  .App .ToDoContainer .heading-area .main-heading {
    font-size: 32px;
  }
  .App .ToDoContainer .heading-area .date-subheading {
    font-size: 17px;
  }
  .App .ToDoContainer .ToDoForm .to-do-input-field input[type=text] {
    width: 80%;
  }
  .App .ToDoContainer .ToDoForm .to-do-input-field .due-date-button,
  .App .ToDoContainer .ToDoForm .to-do-input-field .submit-to-do-button {
    width: auto;
    font-size: 16px;
  }
  .App .ToDoContainer .ToDoList .Task {
    height: 60px;
  }
  .App .ToDoContainer .ToDoList .Task .task-checkbox {
    margin-left: 10px;
  }
  .App .ToDoContainer .ToDoList .Task .task-content-container {
    padding: 5px 0px 5px 10px;
  }
  .App .ToDoContainer .ToDoList .Task .delete-task-button-container button {
    font-size: 18px;
    padding-right: 10px;
  }
  .App .ToDoContainer .ToDoList .toggle-list-state-button-container .toggle-list-state-button {
    font-size: 16px;
    padding: 5px 10px;
  }
}