* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, li, a {
  font-family: "Font 1 Name";
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

p, button, input, textarea {
  font-family: "Font 2 Name";
  font-size: 18px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.App {
  width: 100%;
  height: 100vh;
  background-color: #67a7a1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ToDoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 70%;
  background-color: #176280;
}