* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, li, a {
  color: #faf9f6;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

p, button, input, textarea {
  color: #faf9f6;
  font-size: 18px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}